.container {
    height: 300px;
    width: 350px;
    margin: auto;
    border: 3px solid black;
    position: relative;
    background-color: rgb(17, 228, 228);
}

label {
    width: 90px;
    display: inline-block;
    text-align: right;
}

input {
    display: inline-block;
    width: 150px;
}

#amount,
#tip,
#total {
    padding: 5px;
    font-size: 25pxpx;
}

#footer {
    text-align: center;
    color: rgb(224, 34, 28);
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

#tipcal {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

button {
    margin-left: 150px;
}